* {
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
      font-family: SolaimanLipiNormal;
      font-size: 15px;
      line-height: 150%;
  }

  
  @font-face {
      font-family: SolaimanLipiNormal;
      src: url('fonts/solaimanlipi_20-04-07.eot');
      src: url('fonts/solaimanlipi_20-04-07.eot')format('embedded-opentype'), url('fonts/solaimanlipi_20-04-07.woff') format('woff'), url('fonts/solaimanlipi_20-04-07.ttf') format('truetype'), url('fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal') format('svg');
  }
  
main {
    background: white;
    font-size: 14px;
    color: black;
    width: 1400px;
    margin: auto;
    margin-top: 15px;
}

.header {
    margin: auto;
    height: auto;
}

.drop-down-menu,
.date-logo-search{
      width: 1400px;
      margin: auto;
}

.drop-dpwn-menu-part-2{
      width: 900px;
      margin: auto;

}

.drop-dewn-background {
    background-color: #696969	;
}

.drop-down-menu>nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px;

}

.drop-down-menu>nav>ul>li>a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.drop-dpwn-menu-part-2>nav>ul>li>a:hover,
.drop-down-menu>nav>ul>li>a:hover {
    color: red;
    transition: all 0.5s;
}

.drop-down-menu>nav>ul>li {
    text-align: center;
}

.main-logo img {
    max-width: 100%;
}

.date-logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-menu,
.date {
    width: 30%;
}

.main-logo {
    width: 30%;
}


i.fa-sharp.fa-solid.fa-list-timeline {
    color: black;
    font-size: 20px;
}

.menu-box-right {
  color: black;
}

.search-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-option>a {
    color: black;
}

.three-line {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

i.fa-solid.fa-magnifying-glass {
    padding-left: 330px;
    font-size: 28px;
}

.drop-dpwn-menu-part-2>nav>ul {
    display: flex;
    justify-content: space-around;
}

.drop-dpwn-menu-part-2>nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;

}



.drop-dpwn-menu-part-2>nav>ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drop-dpwn-menu-part-2-underline {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

a {}

.main-news {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}.main-news-text {
    padding-right: 10px;
}

.main-news-text>h2>a {
    text-decoration: none;
    color: red;
}

.lead-box {
    display: flex;
    justify-content: space-between;
}

.lead-middle,
.lead-main {
    width: 48%;
}

.lead-right {
    width: 25%;
}

.single-box-pic img,
.lead-pic img {
    max-width: 100%;
}

.middle-single-box {
    display: flex;
    justify-content: space-between;
}

.middle-single-box {
    display: flex;
    justify-content: space-between;
}

.lead-pic img {
    max-width: 100%;
}


.single-box-pic {
    width: 45%;
}


.middle-box-news {
    width: 50%;
}

.lead-left-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.lead-left-box {
    /* width: 70%; */
}

.lead-news h1 a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}

.lead-news h1 {
    margin-bottom: 15px;
    margin-top: 15px;
}


.middle-box-news>h2>a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.middle-box-news>h2 {
    margin: 0 0 10px 0;
}

.middle-box-news>p {
    margin-bottom: 15px;
}

.lead-news,
.middle-single-box {
    /* border-bottom: 2px solid gray; */
    margin-bottom: 15px;
}

.lead-news p {
    margin-bottom: 20px;
}

.lead-main {
    border-right: 2px solid gray;
    padding-right: 30px;
}

.add-right {
    border-left: 2px solid gray;
    padding-left: 24px;
}

.middle-three-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.middle-single-news-pic {
    width: 31%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
    padding-right: 31px;
}

.middle-single-pic img {
    max-width: 100%;
}

.middle-single-news {
    width: 60%;
}

.middle-single-pic {
    width: 35%;
}

.middle-single-news>h2>a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    /* margin-bottom: 10px; */
}

.middle-single-news h2 {
    margin-bottom: 10px;
}

.middle-single-box:last-child {
    border-bottom: none;
}



.footer-main-box {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer-logo {
    width: 25%;
}

.footer-logo img {
    max-width: 100%;
}

.footer-apps-store {
    width: 40%;
}

.footer-apps-store {
    display: flex;
    justify-content: space-between;
}

.apple-store {
    width: 45%;
}


.google-play {
    width: 45%;
}

.apple-store {
    display: flex;
    justify-content: space-between;
}

.google-play {
    display: flex;
    justify-content: space-between;
}

.apple-img img {
    max-width: 100%;
}

.google-app img {
    max-width: 100%;
}

.footer-text {
    width: 1400px;
    margin: auto;
}

.footer-text>nav>ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    list-style: none;
}

.footer-text>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

.google-text>a,
.apple-text>a {
    text-decoration: none;
    color: black;
}

.apple-img {
    margin-right: 20px;
}


.google-app {
    margin-right: 20px;
}

.footer-main-box {
    border-top: 1px solid gray;
    padding-top: 47px;
}

.b-top-bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.w-1400 {
    width: 1400px;
    margin: auto;
}

.m-top-25 {
    margin-top: 25px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.d-flex {
    display: flex;
}
.justify-content-between {
        justify-content: space-between;
}


.list-style {
    list-style: none;
}

.m-left {
    margin-left: 15px;
}

.social-media>nav>ul>li {
    margin-left: 25px;
}

.p-top {
    padding-top: 20px;
}

.p-bottom {
    padding-bottom: 20px;
}

.f-color {
    color: #1877F2;
}

.t-color {
    color: #1DA1F2;
}

.y-color {
    color: #FF0000;
}

.in-color {
    color: #0e76a8;
}

.i-color {
    color: #8a3ab9;
}

.a-item {
    align-items: center;
}

.background-color-gray {
    background-color: gray;
}
.border-none {
    border: none;
}

.color-white {
    color: white;
}
.padding-10-10 {
    padding: 10px 10px;
}

.text-align {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

.font-size {
    font-size: 22px;
}

.margin-4-2 {
    margin: 4px 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.border-redius-40 {
    border-radius: 20%;
}

.text-decoration-none {
    text-decoration: none;
}

.color-black {
    color:black;
}

.float-right {
    float: right;
}

.w-1052 {
    width: 1052px;
}

/* .justify-content-end {
    justify-content: end;
} */

.aro-box.m-top-25.w-1052.float-right {
    display: flex;
    justify-content: end;
}